@use "sass:math";
@use "sass:color";

$decoration-color: #0078ff;

$cd-cursor: #0078ff;
$cd-primary-font: #fff;

$txt-size: 0.5vw;

$anim-dur: 20000ms;

@media screen and (min-width:481px) and (max-width: 767px) {

    .title-center{
        font-size: 7vh;
    }

    /* || Section Header  */

    .fixed-top {
        position: fixed;
        box-sizing: border-box;

        font-size: 6vw;
        background-color: rgba(0, 0, 0, 0.902);
        font-weight: 500;
        margin: 0;

        .header-container {
            display: flex;
            flex-direction: row;
            padding: 0.8rem 1rem 0.2rem;
            justify-content: space-between;
            max-width: 100%;
            min-width: 320px;

            .logo{
                font-size: 6vw;
            }

            .mob-tab {
                display: block;
            }

            .large-screen {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 80vh;
                background-color: rgba(0, 0, 0, 0.902);
                padding: 1rem;
                z-index: 998;
                font-size: 4vh;
                align-items: center;

                .menu-mob-close {
                    text-align: center;
                    font-size: 10vw;
                    display: none;
                }

                &:target {
                    display: flex;

                    .menu-mob-close {
                        display: inline-block;
                    }
                }

                &:not(:target) {
                    display: none;
                }
            }

        }

    }


    /* || Section Hero  */

    .hero {
        max-width: 100%;
        height: 100vh;
        .container-hero {
            top: 30%;

            .whoami-title-hero {
                display: flex;
                flex-flow: column;
                font-size: 6vw;

                .whoami-title-hero--intro {
                    display: inline-block;
                }
            }

            .subtitle-hero {

                margin: auto;
                width: 68vw;
                font-size: 6vw;
                display: flex;
                flex-direction: column;
                gap: 3vh;

                &--content {
                    position: relative;

                    &::before {

                        content: "Developer";

                        width: fit-content;
                        color: $cd-primary-font;
                        animation: words $anim-dur infinite, typing $anim-dur infinite;

                    }

                    &::after {
                        content: "";
                        position: absolute;
                        z-index: 5;
                        height: 100%;
                        width: calc(100% + 2vw);
                        // background-color: #1ff18c;
                        transform: scaleX(1);
                        //background-color: #fff;
                        opacity: 1;
                        border-left: $cd-cursor 2vw solid;
                        right: -2vw;
                        transform-origin: right;
                        //animation:;


                    }

                }


            }

        }
    }

    /* || Section About  */

    .main-container {
        padding: 5vh 2vw;
        flex-direction: column;

        .about-container {
            padding: 3vh 2vw;
            flex-direction: column;

            &::before {
                content: "Resume";
                text-align: center;
                font-size: 5vw;
                width: 100%;
                height: 5vw;
                top: -2vh;
                left: 0;
                position: relative;
                margin-bottom: 3vh;
                text-decoration: underline $cd-cursor;

            }
        }

        .left-resume {
            width: 100%;
            margin: auto;

            .header-left-resume {
                justify-content: start;
                align-items: flex-start;

                & img {
                    width: 15vw;
                    margin-right: 5vh;
                }
            }

            .text-resume {
                padding: 0.5rem 0;
                font-size: 2vh;

                .text-lite{
                    font-size: 2vh;
                }
            }

            .skill-bar {
                font-size: 2vh;
            }

        }

        .right-resume {
            width: 100%;

            .about-text {
                font-size: 3vh;
            }
        }
    }


    /* ||| Section Service */

    .container-service {
        .service-body {
            grid-template: repeat(3, 1fr)/ repeat(2, 1fr);
            column-gap: 0;
            width: 90vw;
            margin: auto;
        }

        .each-service-container {
            padding: 3vh 2vw;
            max-width: 40vw;
            margin: auto;
            height: 35vh;
            
        }

        .icon-service {
            width: 7vh;
            height: 7vh;

            .icon {
                position: relative;
                width: 5vh;
                height: 5vh;
                margin: 1vh;
                background-color: transparent;
                top: 0;
                left: 0;
                padding: 0.5vh;
            }

            & svg {
                width: 4vh;
                height: 4vh;
                color: #fff;

            }

        }

        .each-title-service {
            font-size: 3vh;
        }
    }

    /* ||  Section counter || */

    .mobil-grid {
        max-width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5vh;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        gap: 2vh;


        .counter {
            width: 100%;
            height: 100%;

            .counter-icon {
                width: 7vh;
                height: 7vh;
                box-shadow: 0 0 0 5px #cde1f8;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 3vh;

                
            }

            .icon-svg {
                max-width: 5vh;
            }

            .number {
                font-size: 3vh;
            }

            .text-counter {
                font-size: 2.3vh;
            }


        }
    }


    /* ||  Section counter || */


    .box {
        .anim-image {
            margin: 0;
        }
    }

    .article-body {
        padding: 0 1vw;
        height: 6vh;


        .article-body-top {
            margin-bottom: 1vw;

            .circle-btn {
                & img {
                    width: 5vw;
                }

            }
        }

        .text-desc {
            font-size: 1.6vw;
            font-weight: 400;
        }
    }


    /* ||  Section Contributor || */

    .contributor {

        .slider-holder {

            .contrib__desc {
                max-width: 100%;
            }

        }

    }


    /* ||  Section Blog || */


    .container {
        .blog-div {
            flex-wrap: wrap;
            


           .card{

            margin: auto;
           }

            .artcile__footer {

                .article__timing {
                    margin-left: 40%;
                }
            }
        }


    }




    /* ||  Section Contact || */







    %large-width {
        width: calc(100% - 10px);
        margin-bottom: 10px;
        padding: 5px;
        font-size: 0.8rem;

    }

    @mixin width-calc {
        width: math.div(300px, 650px) * 100%;
        text-align: justify;
    }

    .contact-overlay-blue {
        background-image: url("../images/overlay-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        height: auto;
        position: relative;

        @media screen and (max-width: 480px) {

            height: 800px;
        }

    }

    .contain {
        // background-color: #0078ff;
        // opacity: 0.7;
        padding: 80px;
        position: relative;
        margin: auto;

        @media screen and (max-width: 480px) {
            top: 0;
            right: 0.5vw;
            left: 0.5vw;
            display: flex;
            flex-direction: column;
            padding: 0;
            width: calc(100% - 1rem);
            min-width: 160px;
            margin: auto;


        }

        .white-zone {
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            background-color: #ffffff;
            opacity: 1;
            margin: auto;
            color: #000;
            padding: 20px;
            // height: calc(500px - 130px);
            height: auto;
            max-width: 768px;


            @media screen and (max-width: 480px) {
                display: flex;
                flex-direction: column;
                align-items: center;

                width: 100%;
                height: 95%;
                position: relative;
                padding: 0;


            }


            .title {
                color: #000;
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 20px;
                position: relative;

                &::after {
                    content: "";
                    width: 20%;
                    height: 0.2rem;
                    background-color: color.scale($color: #0078ff, $lightness: -30%, $alpha: 0.7%);
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    margin-top: 20px;
                }

                @media screen and (max-width: 480px) {
                    font-size: 1rem;
                }
            }

        }

        &__form {
            display: flex;
            width: 100%;
            flex-flow: column;

            @media screen and (max-width: 480px) {
                z-index: 940;
                position: absolute;
                top: 10px;
                width: 90%;
                display: flex;
                flex-flow: column;
                margin: 0;
            }

            .form {
                display: flex;
                flex-flow: column;
                align-content: center;
                height: 300px;

                &__inp {
                    @extend %large-width;
                }

                &__area {
                    @extend %large-width;

                }

                &__submit {
                    margin: auto;
                    width: 150px;
                    padding: 5px;
                    border-radius: 100px;
                    background-color: #0078ff;
                    color: #ffffff;
                    outline: none;
                    border: none;
                    text-align: center
                }
            }
        }

        &__info {
            width: 100%;

            @media screen and (max-width: 480px) {
                position: absolute;
                width: 90%;
                margin: auto;
                top: 400px;
                font-size: 0.7rem;
                z-index: 940;

            }

            .info {
                display: flex;
                flex-flow: column nowrap;
                justify-content: baseline;
                gap: 20px;

                &__address {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 10px;
                    font-size: 0.8rem;


                    & div {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        height: 2vh;
                        padding: 0.2vh;

                        & svg {
                            height: 2vh;
                            width: 2vh;
                            margin-right: 2vh;

                        }

                    }



                    @media screen and (max-width:480px) {

                        & svg {
                            margin-right: 1vh;
                            width: 2vh;
                            height: 2vh;

                        }


                    }



                }

                &__social {
                    display: flex;
                    justify-content: space-around;

                    .social-link {

                        &:hover {
                            background-color: #0078ff;
                            box-shadow: 1px 1px 1px #fff inset,
                                -1px -1px 1px #fff inset;

                            &::after {
                                display: none;
                            }
                        }

                        justify-content: space-around;
                        width: 7vh;
                        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
                        box-shadow: 1px 1px 1px #0078ff inset,
                        -1px -1px 1px #0078ff inset;

                        background-color: #0078ff;
                        color: #fff;
                        margin: 0;
                        padding: 1vh;

                        & svg {
                            width: 5vh;
                            height: 5vh;
                        }


                    }


                    @media screen and (max-width:480px) {
                        

                    }

                }
            }

        }

        // // mobile devices
        // @media  screen (min-width: 320px) and (max-width: 480px ) {
        //     display: flex;
        //     flex-direction: column;

        // }

        // //tablets and ipad
        // @media  (min-width: 481px) and (max-width: 768px ) {

        // } 

        // //laptop and small screen
        // @media screen (min-width: 769px) and (max-width: 1024px ){

        // }

        // //large screen and desktops
        // @media screen (min-width: 1025px) and (max-width: 1200px ){

        // }

        // @media screen (min-width: 1201px){

        // }
    }






}